
/** ADD YOUR AWESOME CODES HERE **/
audio {
  position: fixed;
  right: 40px;
  z-index: 11001;
}

audio::-webkit-media-controls-panel {
  background-color: var(--main-color); 
  border: 5px solid #fff;
}

@media (min-width: 920px) {
  audio {
    bottom: 10px;
    right: 40px;
  }
}

@media (max-width: 919px) {
  audio {
    top: 79%;
    right: 10px;
  }
}